.rivalry-feed-card{
  width: 100%;
  margin-top: 16px;
  background-color: $primary_light;
  border-radius: 10px;
  border-color: transparent;
}

.rivalry-rivals{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rivalry-tags{
  display: flex;
  margin: 1em 0;
}

.rivalry-tag{
  background-color: $primary;
  color: $light;
  border-color: $light;
}

.rivalry-about-card{
  display: grid;
  @include media(">=tablet", "<desktop"){
    padding: 0 1.8em;
  }

  @include media(">=desktop") {
    padding: 1.3em;
  }
}

.rivalry-about-text{
  color: $light;
  @include media(">=tablet", "<desktop"){
    font-size: 13px;
  }
}

.rivalry-keep-reading-btn{
  width: 33%;
  justify-self: flex-end;
  background-color: $primary;
  color: $lighter;
  border-color: $primary_lighter;
  border-radius: 5px;

  @include media("<=phone") {
    width: 50%;
  }
}

.rivalry-keep-reading-btn:hover{
  background-color: $primary_light;
  border-color: $secondary;
  color: $secondary;
}

.rivalry-cross-container{
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.rivalry-cross{
  font-size: 35px;
  z-index: 1;
  color: $light;
}

.rivalry-time{
  color: $lighter;
  font-size: 15px;
  justify-self: flex-start;
}

.rivalry-icons-row{
  margin: 0 0 1.5em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media("<tablet"){
    margin: 1.5em 0 1.5em 0;
  }
}

.rivalry-icons-col{
  margin: 0 0 1.5em 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include media("<tablet"){
    margin: 1.5em 0 1.5em 0;
  }
}

.rivalry-icon{
  color: $light;
  font-size: 28px;
  margin: 0 0.2em;
}

.rivalry-like{
  color: $lighter;
  font-size: 21px;
  margin: 0 0.2em;
}

.rivalry-like-row{
  @include media("<=phone"){
    margin-bottom: 0.75rem;
  }
}

.rivalry-like-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rivalry-heart-count{
  color: $lighter;
  font-size: 18px;
  margin-left: 0.3em;
}

.rivalry-likes-count{
  color: $lighter;
  font-size: 15px;
  margin-left: 0.3em;
}

.rival-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rival-left{
  height: 12em;
  width: 15em;
  object-fit: cover;
  border-radius: 130px 50px 100px 60px;
  //border-radius: 50px 130px 60px 100px;
  @include media(">=tablet", "<desktop"){
    height: 10em;
    width: 12.5em;
  }

}

.rival-right{
  height: 12em;
  width: 15em;
  object-fit: cover;
  //border-radius: 130px 50px 100px 60px;
  border-radius: 50px 130px 60px 100px;
  @include media(">=tablet", "<desktop"){
    height: 10em;
    width: 12.5em;
  }
}

.rival-name{
  color: $light;
  font-size: 21px;
  margin-top: 0.75rem;
  text-align: center;
  margin-bottom: 0.75rem;

  @include media(">=tablet", "<desktop"){
    font-size: 18px;
  }
}

.tabs-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-container{
  margin: 2.5em 0;
  width: 100%;
}

.card-container p {
  margin: 0;
}
.card-container > .ant-tabs-card .ant-tabs-content {
  min-height: 120px;
  margin-top: -16px;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: $primary;
  padding: 16px;
  border-radius: 5px;
}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
.card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color: $primary;
  background: $primary;
}
.code-box-demo {
  background: #f5f5f5;
  overflow: hidden;
  padding: 24px;
}
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-content {
  min-height: 120px;
  margin-top: -8px;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
[data-theme='dark'] .code-box-demo {
  background: #000;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #141414;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color: #141414;
  background: #141414;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $light;
}

.ant-tabs-tab > .ant-tabs-tab-btn{
  color: $lighter;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active{
  border-bottom-color: $lighter;
}
